.array-container {
  margin: 2rem;
  height: 80vh;
}

.array-bar {
  width: 0.2rem;
  display: inline-block;
  margin: 0 0.1rem;
}



@media only screen and (max-width: 600px) {
  .array-container {
    margin: 1rem;
    height: 80vh;

  }
  
  .array-bar {
    width: 0.02rem;
    display: inline-block;
    margin: 0 0.01rem;
  }

  .control-button{
    margin: 0.2rem;
  }
}